services:
  - type: web
    name: b3-investimentos
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn servidor:app --workers 1 --timeout 120
    envVars:
      - key: BRAPI_TOKEN
        value: iSm92y2Qg4f9iapi1MuHhh
      - key: INTERVALO_SEGUNDOS
        value: 300
